<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Corrupti, ea. Adipisci odit, perferendis ullam minima mollitia fugit enim sint suscipit nihil excepturi. Saepe,
          tenetur! Odit amet hic corrupti accusamus ad!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos rerum beatae earum reiciendis explicabo non nam perferendis aspernatur ex odio, quibusdam sequi dolores exercitationem qui fuga. Magni, voluptate suscipit!</p>
    <button>click me!</button>
</body>
</html>